---
import Contact from '@components/Contact.astro';
import Footer from '@components/Footer.astro';
import Hero from '@components/Hero.astro';
import Info from '@components/Info.astro';
import Projects from '@components/Projects.astro';
import ScrollText from '@components/ScrollText.astro';
import Slider from '@components/Slider.astro';
import Team from '@components/Team.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout title="Fake Web." description='Fake Web'>
	<main>
		<Hero/>
		<ScrollText/>
		<Slider/> 
		<Info/>
		<Projects/>
		<Team/>
		<Contact/>
		<Footer/>
	</main>
</Layout>
