---
import Fish from "@components/icons/Fish.astro";
import Mute from "@components/icons/Mute.astro";
import World from "@components/icons/World.astro";
---

<script>
  const $header = document.getElementById("header-landing");
  const $sectionsElement = document.querySelectorAll(
    "section[data-header-theme='dark']"
  );

  // Opciones del intercepcion observer
  const intersectionOptions = {
    root: null,
    rootMargin: "0px",
    threshold: 0.1,
  };

  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      const darkMode = !entry.isIntersecting
      // Si no esta intersectando agrega el estilo dark
      $header?.classList.toggle("dark", darkMode)
    });
  }, intersectionOptions);

  $sectionsElement.forEach((section) => observer.observe(section));
</script>

<header
  id="header-landing"
  class="flex justify-between fixed top-0 w-full z-50 px-5 py-4"
>
  <Fish size="70" />
  <section class="flex h-7 gap-10 mt-2 text-current">
    <p class="uppercase">agencia de talento multiplataforma</p>
    <div>
      <Mute />
    </div>
    <div class="flex">
      <World />
      <label class="uppercase" for="cars"></label>

      <select
        class="bg-transparent font-semibold [&>option]:text-black"
        name="cars"
        id="cars"
      >
        <option value="volvo">ES</option>
        <option value="saab">EN</option>
      </select>
    </div>
  </section>
</header>

<style>
  header {
    color: white;

    svg, p, label, select {
      transition: color 0.5s ease-in-out;
    }
  }

  .dark {
    color: black !important;
  }
</style>
