<section class="mb-32">
    <hr class="mx-16 border-[1.3px] border-black ">
    <article class={`flex justify-center gap-24 mt-10
                     [&>a]:uppercase [&>a]:font-bold`}>
        <a href="#" class="hover:underline">privacidad</a>
        <a href="#" class="hover:underline">cookies</a>
    </article>
</section>