<section data-header-theme="dark" class="flex flex-col border-b-[60px] border-b-green-500">
  <video
    class="w-full aspect-[9/16] md:aspect-[21/9] object-cover"
    src="video/video.mp4"
    autoplay
    muted
    loop></video>
</section>
