<section data-header-theme="dark" class="flex flex-col border-b-[60px] border-b-green-500">
  <video
    class="w-full aspect-[22/9] object-cover"
    src="video/video.mp4"
    autoplay
    loop
    preload="auto"></video>
</section>
